html {
    background-color: blue;
    
    display: block;
}
table{
    background: white;
    margin: 10px;
    margin-left: 20em;
    margin-top: -24em;
}

#doc{
    margin-left: 44em;
    margin-top: -18em
}

form{
    margin-left: -19em;
    margin-right: 22em;
}

.btn btn-success{
    margin-left: 22em;
}
