<app-nav></app-nav>
<div class="col-lg-6" style="margin: auto">
  <h3 style="text-align: center">Document</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Date</label>
        <input
          name="datum"
          [(ngModel)]="dokument.createDate"
          type="text"
          class="form-control"
          placeholder="Datum"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Bussiness year</label>
        <input
          name="businessYear"
          [(ngModel)]="dokument.businessYear.year"
          type="text"
          class="form-control"
          placeholder="Bussiness year"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Type</label>
        <select
          *ngIf="dodavanje"
          #selectType
          id="vrstaSelect"
          class="form-control"
        >
          <option selected [(ngValue)]="Primka">Primka</option>
          <option [(ngValue)]="Otpremnica">Otpremnica</option>
        </select>
        <input
          *ngIf="dodavanje == false"
          name="vrsta"
          [(ngModel)]="dokument.type"
          type="text"
          class="form-control"
        />
      </div>
    </div>

    <div class="form-group">
      <label>Warehouse</label>
      <select *ngIf="dodavanje" #selectWarehouse class="form-control">
        <option [ngValue]="null">Select a warehouse</option>
        <option *ngFor="let w of warehouses" [ngValue]="w">{{
          w.name
        }}</option>
      </select>
      <input
        *ngIf="dodavanje == false"
        name="warehouse"
        [(ngModel)]="dokument.warehouse.name"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Bussiness partner</label>
      <select *ngIf="dodavanje" #selectBusinessPartner class="form-control">
        <option [ngValue]="null">Select a bussiness partner</option>
        <option *ngFor="let p of partners" [ngValue]="p">{{ p.name }}</option>
      </select>
      <input
        *ngIf="dodavanje == false"
        name="businessPartner"
        [(ngModel)]="dokument.businessPartner.name"
        type="text"
        class="form-control"
      />
      <br />
    </div>

    <div class="col-lg-4" style="margin: auto">
      <h6>Product</h6>
      <button
        *ngIf="
          dodavanje &&
          this.selectWarehouse.nativeElement.value != 'Izaberite magacin'
        "
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#myModal"
        (click)="productListUcitavanje()"
      >
        Add product
      </button>
      <br />
    </div>
    <table class="table" style="margin: 10px">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody *ngFor="let r of privremenaListaRobe">
        <tr>
          <th scope="row">{{ r.id }}</th>
          <td>{{ r.name }}</td>
          <td>{{ r.quantity }}</td>
          <td>{{ r.price }}</td>
          <td>{{ r.quantity * r.price }}</td>
        </tr>
      </tbody>
    </table>
    <div class="col-lg-4" style="margin: 10px auto">
      <button
        *ngIf="!dodavanje"
        (click)="changeStatus()"
        class="btn btn-primary"
      >
        {{ status }}
      </button>
    </div>
    <p style="color:red; text-align: center">{{ errorMsg }}</p>
    <div class="col-lg-4" style="margin: 10px auto">
      <button
        *ngIf="dodavanje"
        (click)="sacuvajDokument()"
        class="btn btn-success"
      >
        Save
      </button>
    </div>
  </form>
  <br />
  <br />
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Dodavanje stavki</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label>Select a product</label>
        <select #selectProduct class="form-control">
          <option *ngFor="let r of productList" [ngValue]="r">{{
            r.name
          }}</option>
        </select>
        <label>Enter a quantity</label>
        <input
          name="quantitya"
          [(ngModel)]="quantity"
          type="text"
          class="form-control"
        />
        <div *ngIf="primka">
          <label>Enter a price </label>
          <input
            name="price"
            [(ngModel)]="price"
            type="text"
            class="form-control"
          />
        </div>
        <p style="color:red; text-align: center">{{ errorModal }}</p>
        <button
          type="button"
          class="btn btn-primary"
          (click)="dodajNaListu()"
          style="margin: 10px"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
