<app-nav></app-nav>
<div class="col-lg-6" style="margin: auto">
  <h3 style="text-align: center">Inventory document</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Date</label>
        <input
          name="datum"
          [(ngModel)]="dokument.createDate"
          type="text"
          class="form-control"
          placeholder="Datum"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword">Bussiness year</label>
        <input
          name="businessYear"
          [(ngModel)]="dokument.businessYear.year"
          type="text"
          class="form-control"
          placeholder="Bussiness year"
        />
      </div>
    </div> 

    <div class="form-group">
      <label>Warehouse</label>
      <select *ngIf="dodavanje" #selectWarehouse class="form-control">
        <option [ngValue]="null">Select a warehouse</option>
        <option *ngFor="let w of warehouses" [ngValue]="w">{{
          w.name
        }}</option>
      </select>
      <input
        *ngIf="dodavanje == false"
        name="warehouse"
        [(ngModel)]="dokument.warehouse.name"
        type="text"
        class="form-control"
      />
    </div>
    <br/>

    <div class="form-group">
      <label>Commissions</label>
    </div>

    <button
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#commisionModal"
    *ngIf="dodavanje"
    >Add commision</button>

    <table class="table" style="margin: 10px" >
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">President</th>
        </tr>
      </thead>
      <tbody *ngFor="let c of privremenaListaKomisije">
        <tr>
          <th scope="row">{{ c.id }}</th>
          <td>{{ c.name }}</td>
          <td>{{ c.isPresident }}</td>
        </tr>
      </tbody>
    </table>
    
    <br/>
<!-- ----------------------------------------------------------------------------------------------- -->
    <button
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#myModal"
    *ngIf="dodavanje"
    (click) = "productListUcitavanje()"
  >
    Add product
  </button>

    <table class="table" style="margin: 10px" >
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody *ngFor="let p of privremenaListaRobe">
        <tr>
          <th scope="row">{{ p.id }}</th>
          <td>{{ p.name }}</td>
          <td>{{ p.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="col-lg-4" style="margin: 10px auto">
    <button
      *ngIf="!dodavanje"
      (click)="changeStatus()"
      class="btn btn-primary"
    >
      {{ status }}
    </button>
  </div>
  <div class="col-lg-4" style="margin: 10px auto">
    <button
      (click)="saveDocument()"
      class="btn btn-success"
      *ngIf="dodavanje"
    >
      Save
    </button>

</div>

<!--         Robaaaaaaaaaaaaaaaaaaaaaaaaaaaa           -->
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add document item</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label>Select a product</label>
        <select #selectProduct class="form-control">
          <option *ngFor="let r of productList" [ngValue]="r">{{
            r.name
          }}</option>
        </select>
        <label>Enter a quantity</label>
        <input
          name="quantitya"
          [(ngModel)]="quantity"
          type="text"
          class="form-control"
        />
        <p style="color:red; text-align: center">{{ errorModal }}</p>
        <button
          type="button"
          class="btn btn-primary"
          (click)="dodajNaListu()"
          style="margin: 10px"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Commission -->
<div class="modal fade" id="commisionModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add commission</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label>Select a commsion</label>
        <select #commissionSelect class="form-control">
          <option *ngFor="let c of commissionsList" [ngValue]="c">{{
            c.name
          }}</option>
        </select>
        <p style="color:red; text-align: center">{{ errorModal }}</p>
        <button
          type="button"
          class="btn btn-primary"
          (click)="listKomisije()"
          style="margin: 10px"
          data-dismiss="modal"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
