<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <!-- <a class="navbar-brand" [routerLink]="['/home']" style="cursor: pointer">Home</a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/product']"
            >Product <span class="sr-only">(current)</span></a
          >
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/warehouse']">Warehouse</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/productCard']">Product card</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/document']">Document</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/partner']">Bussines partner</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/year']">Bussines year</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/productGroup']">Product group</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/unit']">Measurement unit</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" [routerLink]="['/inventory']">Inventory</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown>
          <a
            class="btn nav-link dropdown-toggle"
            style="cursor: pointer"
            dropdownToggle
            >Welcome, {{name}}<span class="caret"></span
          ></a>
          <ul class="dropdown-menu" *dropdownMenu>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" (click)="logout()"
                ><i class="fa fa-sign-out"></i>Sign out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="text-align:center">

