<app-nav></app-nav>
<h4 class="display-4 text-center" style="color: black">Product</h4>
<div class="row  mt-3 mb-3">
  <form class="col-md-6 offset-md-3">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <input
          class="form-control form-control-lg form-control-borderless"
          type="search"
          placeholder="Search"
          #searchProduct
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-lg btn-primary"
          type="submit"
          (click)="search(searchProduct.value)"
        >
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/partner/add']">
    <i class="fa fa-plus"></i> Add product
  </button>
</div>
<div class="container col-lg-4" *ngFor="let product of all">
  <div class="card text-center">
    <div class="card-header">
      Product # {{product.id}}
    </div>
    <div class="card-body">
      <p class="card-text">
        Product name: {{ product.name }}
      </p>
    </div>
    <div class="card-footer text-muted">
     <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Details</button>
    </div>
  </div>
  <br />
</div>
<div class="row d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [itemsPerPage]="itemPage.size"
    [totalItems]="itemPage.totalElements"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add bussiness partner</h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <label>Type name of bussines partner</label>
          <input
            name="name"
            id="inputName"
            type="text"
            class="form-control"
            [(ngModel)] = "name"
          />
  
          <label>Type PIB</label>
          <input
            name="pib"
            id="inputName"
            type="text"
            class="form-control"
            [(ngModel)] = "pib"
          />
          
          <label>Type address</label>
          <input
            name="address"
            id="inputName"
            type="text"
            class="form-control"
            [(ngModel)] = "address"
          />
  
          <button
            type="button"
            class="btn btn-primary"
            style="margin: 10px"
            data-dismiss="modal"
            (click)="addPartner()"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>