<app-nav></app-nav>
<div class="container col-md-3 col-lg-3">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form id="loginForm">
        <input
          class="form-control"
          name="username"
          type="text"
          placeholder="username"
          [(ngModel)]="user.username"
        />
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
          [(ngModel)]="user.password"
        />
        <br />
        <button
          class="btn btn-info btn-block bg-secondary login"
          (click)="login()"
        >
          Sign in
        </button>
      </form>
    </div>
    <br />
    <p id="badLogin" *ngIf="badLogin" style="color: red">Bad credentials!</p>
  </div>
</div>
