<app-nav></app-nav>
<h4 class="display-4 text-center" style="color: black">Bussines partners</h4>
<div class="row  mt-3 mb-3">
  <form class="col-md-6 offset-md-3">
    <div class="row no-gutters align-items-center">
      <div class="col">
        <input
          class="form-control form-control-lg form-control-borderless"
          type="search"
          placeholder="Search"
          #searchPartner
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-lg btn-primary"
          type="submit"
          (click)="search(searchPartner.value)"
        >
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>
  <button class="btn btn-success btn-lg ml-4" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-plus"></i> Add partner
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>PIB</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partner of all">
      <th scope="row">{{ partner.id }}</th>
      <td>{{ partner.name }}</td>
      <td>{{ partner.pib }}</td>
      <td>{{ partner.address }}</td>
      <td class="h5">
        <a
          class="badge badge-primary" data-toggle="modal" data-target="#editModal"
          ><i class="fa fa-edit">


<!-- The Modal -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit bussiness partner</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label>Edit name of bussines partner</label>
        <input
          name="name"
          id="inputName"
          type="text"
          class="form-control"
          [(ngModel)] = "partner.name"
        />

        <label>Edit PIB</label>
        <input
          name="pib"
          id="inputName"
          type="text"
          class="form-control"
          value="{{partner.pib}}"
        />
        
        <label>Edit address</label>
        <input
          name="address"
          id="inputName"
          type="text"
          class="form-control"
          [(ngModel)] = "partner.address"
        />

        <button
          type="button"
          class="btn btn-primary"
          style="margin: 10px"
          data-dismiss="modal"
          (click)="addPartner()"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>


          </i> Edit</a>
      </td>
      <td class="h5">
        <a
          class="badge badge-danger text-white"
          (click)="delete(partner.id)"
          style="cursor: pointer"
        >
          <i class="fa fa-trash"></i>Remove</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div class="row d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [itemsPerPage]="itemPage.size"
    [totalItems]="itemPage.totalElements"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add bussiness partner</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label>Type name of bussines partner</label>
        <input
          name="name"
          id="inputName"
          type="text"
          class="form-control"
          [(ngModel)] = "name"
        />

        <label>Type PIB</label>
        <input
          name="pib"
          id="inputName"
          type="text"
          class="form-control"
          [(ngModel)] = "pib"
        />
        
        <label>Type address</label>
        <input
          name="address"
          id="inputName"
          type="text"
          class="form-control"
          [(ngModel)] = "address"
        />

        <button
          type="button"
          class="btn btn-primary"
          style="margin: 10px"
          data-dismiss="modal"
          (click)="addPartner()"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>